USE [master]
GO
/****** Object:  Database [Padron]    Script Date: 6/18/2023 7:50:06 PM ******/
CREATE DATABASE [Padron]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Padron', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Padron.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Padron_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Padron_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Padron].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Padron]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 6/18/2023 7:50:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[Sexo] [varchar](50) NOT NULL,
	[Foto] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Cedula] [varchar](13) NOT NULL,
	[Comentario] [varchar](500) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
 CONSTRAINT [PK_Solicitudes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personas] ADD  CONSTRAINT [DF_Solicitudes_FechaIngreso]  DEFAULT (getdate()) FOR [FechaIngreso]
GO
USE [master]
GO
